/*
    Author: Nathan Thurmond
    Name: mainPage.css
    Description: Main style sheet for MechMarkup site
*/

/*@font-face {
    font-family: 'mainframe_bbbold';
    src: url('../fonts/mainbb__-webfont.eot');
    src: url('../fonts/mainbb__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mainbb__-webfont.woff2') format('woff2'),
         url('../fonts/mainbb__-webfont.woff') format('woff'),
         url('../fonts/mainbb__-webfont.ttf') format('truetype'),
         url('../fonts/mainbb__-webfont.svg#mainframe_bbbold') format('svg');
}

@font-face {
    font-family: 'neuropol';
    src: url('../fonts/neuropol x rg.ttf') format('truetype');
}

@font-face {
    font-family: 'ROBOTECH';
    src: url('../fonts/ROBOTECH GP.ttf') format('truetype');
}*/

@font-face {
    font-family: 'zekton';
    src: url('../fonts/zekton rg.ttf') format('truetype');
}


html, body {
    margin: 0px 0px 0px 0px;
}

body {
    background-color: #DFE2DB;
}

#menuBar {
    width: 100%;
    height: 110px;
    background: #191919; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#191919, #5b634f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#191919, #5b634f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#191919, #5b634f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#191919, #5b634f); /* Standard syntax */
}

#mainControls {
    width: 98%;
    height: 70px;
    border-radius: 20px;
    margin-Left: 1%;
    margin-top: 8px;
    background: #5b634f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5b634f, #818e71); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5b634f, #818e71); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5b634f, #818e71); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5b634f, #818e71); /* Standard syntax */   
}

#mechListings {
    width: 86%;
    margin-Left: 7%;
    margin-top: 8px;
}

#sortBy {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 15%;
    height: 50px;
    margin: 10px 0px 0px 0px;
}

#filterControls {
    width: 70%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    height: 50px;
    margin: 10px 0px 0px 0px;
}

#unselectAll {
    width: 12%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    height: 50px;
    margin: 10px 0px 0px 0px;
    font-family: zekton, sans-serif;
}

#sortBy h5, #filterControls h5 {
    font-family: zekton, sans-serif;
    margin: 0px 0px 6px 0px;
}

#sortBy select, #filterControls input {
    font-family: zekton, sans-serif;
    display: inline-block;
}

#filterControls input {
    width: 13%;
}

#unCheckAll {
    width: 90%;
    font-family: zekton, sans-serif;
    margin-top: 21px;
    margin-left: 2%;
}

.verticalLine {
    vertical-align: top;
    display: inline-block;
    height: 70px;
    width: 0%;
    border-left: 2px solid black;
    margin: 0px 0px 0px 0px;
}

.menuBarTabs {
    position: relative;
    z-index: 20;
    display: inline-block;
    margin-top: 9px;
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    width: 140px;
    background-color: transparent;
    border-radius: 7px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px dashed black;
}

.tabContainer {
    width: 140px;
    display: inline-block;
    margin-right: 24px;
}

.viewTitle {
    font-family: zekton, sans-serif;
    width: 140px;
    height: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    color: white;
    font-size: 16px;
}

.uploadTitle {
    font-family: zekton, sans-serif;
    width: 110px;
    margin-top: 10px;
    height: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
}

.pageIndicator {
    width: 140px;
    min-height:10px;
    height:10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -5px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    border-top: 12px solid transparent;
    margin-left: 32px;
}

.uploadClass {
    margin-left: 15px;
    max-width: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

#uploadImage {
    cursor: pointer;
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    min-height: 60px;
    min-width: 60px;
    background: url(../images/upload.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.filledArrow {
    border-top: 16px solid #8592A8;
}

.menuBarTabsContainer {
    margin: 0 auto;
    width: 140px;
    height: 60px;
    display: table;
}

.menuBarTabsContainer div {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    height: 100%;
    width: 100%;
}

.menuBarTabsContainer div p {
    font-family: zekton, sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#allMechs div div p {
    font-size: 28px;
}

.filled {
    background-color: #FFF056;
    border: 2px solid black;
}

.notfilled {
    background-color: #cdd2c6;
    border: 1.5px dashed black;
}

.mechBox {
    border-radius: 10px;
    text-align: center;
    font-family: zekton, sans-serif;
    margin: 1% 1% 1% 3%;
    display: inline-block;
    height: 160px;
    width: 20%;
    background-color: #8592A8;
    background: linear-gradient(#8592A8, #5f6e86);
}

.mechTitle {
    width: 100%;
    height: 31px;
    border-bottom: 2px solid black;
}

.mechStats {
    margin-top: 2px;
    width: 100%;
    height: 100%;
}

.mechTitle input {
    width: 10%;
    height: 26px;
    display: inline-block;
}

.mechTitle h5 {
    position: relative;
    bottom: 5px;
    font-size: 10px;
    padding-right: 5%;
    width: 75%;
    margin: 0px 0px 0px 0px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mechStats div {
    text-align: left;
    display: block;
    width: 100%;
}

.mechStats div label {
    display: inline-block;
    font-size: 10px;
    margin: 1px 0px 2px 5px;
    font-weight: bold;
}

.mechStats div p {
    vertical-align: bottom;
    max-width: 62%;
    display: inline-block;
    font-size: 10px;
    margin: 2px 0px 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#myPDF {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    position: absolute;
    z-index: 30;
    min-width: 100%;
    min-height: 500px;
}